Source: xserver-xlibre-input-keyboard
Section: x11
Priority: optional
Maintainer: NexusSfan <nexussfan@duck.com>
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 xserver-xorg-dev,
 x11proto-dev,
 xutils-dev
Standards-Version: 4.7.0
Vcs-Git: https://github.com/xlibre-debian/xserver-xlibre-input-keyboard.git
Vcs-Browser: https://github.com/xlibre-debian/xserver-xlibre-input-keyboard

Package: xserver-xlibre-input-kbd
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xinpdriver:Depends},
Provides:
 ${xinpdriver:Provides}
Description: XLibre X server -- keyboard input driver
 This package provides the driver for keyboard input devices.
 This package is built from the XLibre xf86-input-keyboard driver module.
Conflicts: xserver-xorg-input-kbd
Provides: xserver-xorg-input-kbd (= ${binary:Version})

Package: xserver-xlibre-input-kbd-udeb
XC-Package-Type: udeb
Section: debian-installer
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xinpdriver:Depends},
Provides:
 ${xinpdriver:Provides}
Description: XLibre X server -- keyboard input driver
 This is a udeb, or a microdeb, for the debian-installer.
Conflicts: xserver-xorg-input-kbd-udeb
Provides: xserver-xorg-input-kbd-udeb (= ${binary:Version})
